<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bitoo.abit" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".ui.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DetailedMissionActivity"
            android:label="@string/title_activity_detailed_mission" >
        </activity>
        <activity
            android:name=".ui.AddMissionActivity"
            android:label="@string/title_activity_add_mission" >
        </activity>

        <provider android:authorities="com.facebook.app.FacebookContentProvider103605823315551"
                  android:name="com.facebook.FacebookContentProvider"
                  android:exported="true"/>
    </application>

</manifest>
